.big {
  color: red;
  font-size: xx-large;
}

.sidebar {
  background-color: red;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  color: rgb(54, 54, 54);
  border-width: 20px;
  padding: 20px;
  margin-bottom: 10px;
}
img {
  float: left;
  padding: 20px;
}